body {
    background-color: #e6e6e6;
}

/* Slider UI Improvements */

.team-score {
    font-size: 12px;
    color: #1a1a1a;
}

.team-name {
    font-size: 13px;
    color: #111827;
}

.team-logo {
    width: 22px;
    height: 22px;
}

.live-header {
	background-color: transparent;
	text-transform: initial;
}

.live-card {
	position: relative;
}

.live-body {
	padding: 0 12px 40px;
	border-bottom: none;
}

.match-subtitle,
.match-competition {
	position: relative;
	font-size: 12px;
	padding-left: 20px;
	color: #1a1a1a;
}

.match-subtitle::before,
.match-competition::before {
	content: "";
	position: absolute;
    left: 7px;
    top: 45%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background: #1a1a1a;   
    border-radius: 50%;
    opacity: .7;
}

.post-item .box-image {
	position: relative;
}

.video-posts .post-item .box-image::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(http://cricketscore.art/wp-content/uploads/2025/10/play-button.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	width: 50px;
	height: 50px;
	border: 3px solid white;
	border-radius: 50%;
}

.live-slider {
	padding: 10px 44px;
}

.slider-btn {
	padding: 0 13px !important;
}

.match-status {
	text-transform: uppercase;
}

.countdown-timer {
    text-align: right;
    margin: 0 8px;
    padding: 8px 0 0;
    font-size: 12px;
    color: #1a1a1a;
    border-top: 2px solid #dee2e6;
    position: absolute;
    width: calc(100% - 16px);
    bottom: 8px;
    right: 0px;
    box-sizing: border-box;
	min-height: 30px;
}

.section-title-container.widget-head,
.widget-head h3 {
    margin-bottom: 0;
}

.widget-head h3 {
    font-size: 14px;
    padding: 11px 20px;
    border-radius: 10px 10px 0 0;
    color: white;
    background-color: rgb(3, 60, 61);
    border-bottom: none;
}

.widget-head .section-title-main {
    border: none;
    margin: 0;
    padding-bottom: 0;
    text-transform: initial;
    font-weight: 400;
}

.video-posts .row .post-item{
    padding: 0 4px;
}

.video-posts .row {
    padding: 10px 0;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

#top-bar {
    background-color: rgb(0, 45, 46);
}

body #main,
body #wrapper {
    background-color: initial;
}

.post-meta {
    padding-left: 20px;
    background-image: url(http://cricketscore.art/wp-content/uploads/2025/10/time.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 13px;
}

.post-title,
.post-meta {
    color: #1a1a1a;
}

.flatsome-post-excerpt {
    color: #1a1a1a !important;
}

.video-posts .is-divider {
    display: none;
}

.video-posts .box-text {
    padding: 10px 4px 16px !important;
}


.section-heading {
    font-size: 14px;
    color: white;
    background-color: rgb(3, 60, 61);
    padding: 11px 20px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}

.video-posts-items {
    padding: 10px 0px 0px;
}

.post-widget h3,
.post-widget h5,
.post-widget h4 {
    font-size: 14px;
    transition: all .3s ease-in-out;
}

.post-widget  {
    margin-top: 20px;
}

.post-widget .section-content, .video-posts .section-content {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.video-posts-items .post-item {
    padding: 0px 4px;
}

.post-item.col {
    padding: 0;
}

.video-posts .box-text {
    padding: 10px 4px 16px !important;
}

.button.primary {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    max-width: 120px;
    min-width: 120px;
    display: block;
    text-align: center;
    cursor: pointer;
    background: rgb(0, 204, 153);
    padding: 4px 20px;
    border-radius: 27px;
    margin: 0px auto 13px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    white-space: nowrap;
}

.post-widget .post-item:first-of-type .box-blog-post {
    border-top: none;
}

.trending-posts .box-blog-post:hover h3 a,
.trending-posts .box-blog-post:hover h4 a,
.trending-posts .box-blog-post:hover h5 a{
    color: #07888a;
}

.post-widget .box-blog-post {
    padding: 10px;
    border-top: 1px solid rgb(237, 238, 240);
}

.post-widget h3, .post-widget h4, .post-widget h5, .feature-posts h2, .feature-posts h3, .feature-posts h4 {
    color: rgb(0, 45, 46);
    transition: 0.3s ease-in-out;
}

.recent-series-widget > div {
    background-color: rgb(3, 60, 61) !important;
}

.recent-series-widget td, .recent-series-widget th {
    font-size: 12px;
    color: rgb(26, 26, 26) !important;
    padding: 10px !important;
}

.feature-posts .flatsome-widget-header {
    padding: 10px 16px;
}

.feature-posts .flatsome-post-item:first-of-type {
    padding: 0px 16px 16px;
}

.feature-posts .flatsome-post-item, .feature-posts .flatsome-widget-header {
    margin-bottom: 0px !important;
}

.flatsome-post-thumb img {
    border-radius: 0px !important;
}

.post-widget h3, .post-widget h4, .post-widget h5, .feature-posts h2, .feature-posts h3, .feature-posts h4 {
    color: rgb(0, 45, 46);
    transition: 0.3s ease-in-out;
}

.feature-posts .flatsome-post-item:hover h4 {
    color: rgba(0, 204, 153, 0.867);
}

.feature-posts .flatsome-post-item:nth-child(n+2) {
    padding: 12px 16px;
    border-top: 1px solid rgb(237, 238, 240);
}

.flatsome-widget-header a {
    color: rgb(0, 45, 46) !important;
    min-width: fit-content;
}

.feature-posts .flatsome-widget-header {
    padding: 10px 16px;
}

.feature-posts.col {
    padding: 0;
}

.feature-posts {
    background-color: white;
    border-radius: 4px;
}