body {
    background-color: #e6e6e6;
}

/* Slider UI Improvements */

.team-score {
    font-size: 12px;
    color: #1a1a1a;
}

.team-name {
    font-size: 13px;
    color: #111827;
}

.team-logo {
    width: 22px;
    height: 22px;
}

.live-header {
	background-color: transparent;
	text-transform: initial;
}

.live-card {
	position: relative;
}

.live-body {
	padding: 0 12px 40px;
	border-bottom: none;
}

.match-subtitle,
.match-competition {
	position: relative;
	font-size: 12px;
	padding-left: 20px;
	color: #1a1a1a;
}

.match-subtitle::before,
.match-competition::before {
	content: "";
	position: absolute;
    left: 7px;
    top: 45%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background: #1a1a1a;   
    border-radius: 50%;
    opacity: .7;
}

.post-item .box-image {
	position: relative;
}

.video-posts .post-item .box-image::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(http://cricketscore.art/wp-content/uploads/2025/10/play-button.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	width: 50px;
	height: 50px;
	border: 3px solid white;
	border-radius: 50%;
}

.live-slider {
	padding: 10px 44px;
}

.slider-btn {
	padding: 0 13px !important;
}

.match-status {
	text-transform: uppercase;
}

.countdown-timer {
    text-align: right;
    margin: 0 8px;
    padding: 8px 0 0;
    font-size: 12px;
    color: #1a1a1a;
    border-top: 2px solid #dee2e6;
    position: absolute;
    width: calc(100% - 16px);
    bottom: 8px;
    right: 0px;
    box-sizing: border-box;
	min-height: 30px;
}

.section-title-container.widget-head,
.widget-head h3 {
    margin-bottom: 0;
}

.widget-head h3 {
    font-size: 14px;
    padding: 11px 20px;
    border-radius: 10px 10px 0 0;
    color: white;
    background-color: rgb(3, 60, 61);
    border-bottom: none;
}

.widget-head .section-title-main {
    border: none;
    margin: 0;
    padding-bottom: 0;
    text-transform: initial;
    font-weight: 400;
}

.video-posts .row {
    padding: 10px 4px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

#top-bar {
    background-color: rgb(0, 45, 46);
}

body #main,
body #wrapper {
    background-color: initial;
}

.post-meta {
    padding-left: 20px;
    background-image: url(http://cricketscore.art/wp-content/uploads/2025/10/time.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 13px;
}

.post-title,
.post-meta {
    color: #1a1a1a;
}

.video-posts .is-divider {
    display: none;
}

.box-text {
    padding: 10px 4px 16px !important;
}
